.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-filters {
    border: 1px solid white;
    margin: 5px;
    border-style: double;
    margin: 10px;
    width: 90%;
    
}

.filters{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    justify-content: space-evenly;
}

.companion-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.doctor-filter, .media-filter, .companion-filter {
    margin: 5px;
}

.custom-select {
    font-family: Della Respira;
    margin: 5px;
}