.content-layout {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.content-body {
    display: flex;
    flex-direction: column;
}

.profile-grid {
    display: flex;
    flex-direction: column;
    

}
.profile-components-container {
    display: flex;
    flex-direction: column;
}

.user-watchlist-container, .user-following-container {
    border: solid 1px white;
}

.following-users, .watchlist-stories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
}

.review{
    list-style: none;
    text-align: left;
    border: 1px solid white;
    padding: 10px;
    line-height: 2;
    min-width: 500px;
    margin: 10px;
  }

.profile__headline{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.profile__avatar {
    max-width: 200px;
}

#follow-user {
    margin: 5px;
}

.header-and-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#visible-toggle {
    max-height: 30px;
    margin-left: 5px;
}

#visible-toggle:hover {
    cursor: pointer;
}

.following ul {
    padding: 0;
    list-style-type: none;
}