.app {
  color: white;
}

a {
  color: pink;
}

#blue-box-logo{
  max-height: 80px;
}
header {
    position: absolute;
    flex: 0 0 10%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;  
    padding: 10px;
    background-color: rgba(110, 125, 151, 0.5);
    text-align: center;
}

.header-login-buttons{
  margin: 10px;
  background-color: rgb(6,63,170, 0.5);
}

.page-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.page-layout__content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  padding-left: 10%;
}

footer {
  height: 5%;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(6,63,170, 0.5);
}




