.app {
  color: white;
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
  }
  

a {
  color: pink;
}

#blue-box-logo{
  max-height: 90px;
}
header {
    position: absolute;
    flex: 0 0 10%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;  
    padding: 10px;
    background: rgb(168,10,84);
background: linear-gradient(90deg, rgba(168,10,84,0.008) 1%, rgba(162,10,81,1) 4%, rgba(33,1,16,0.01) 100%);
    text-align: center;
}

.header-login-buttons{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.page-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.page-layout__content{
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
  padding-bottom: 5%;
}

.footer-links, .footer-links-authenticated {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}


.story-item{
  border-style: double;
  margin: 10px;
  width: 90%;
  flex: 3;
  
}

.story-item-container{
  display: flex;
  flex-direction: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  /* background-color: rgb(6,63,170, 0.1); */
  align-items: center;
}

.cast-crew-info {
  display: flex;
  flex-direction: column;
}

.image-container img {
  display: block;
  max-width: 312px;
  /* max-height: 400px; */
  width: auto;
  height: auto;
  /* object-fit: contain; */
}
.text-container{
  display: flex;
 flex-grow: 3;
 font-size: larger;
 line-height: 1.5;
 text-align: left;
 /* float: right; */
 overflow: hidden;
}

.add-user-story-buttons{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.story-buttons{
  background: rgb(168,10,84);
  color: antiquewhite;
  font: inherit;
  border-radius: 5px;
  min-width: 200px;
  height: 80px;
}

ul{
  list-style-type: none;
}

.loader {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories-search-results {
  margin-top: 20px;
  justify-content: center;
}

.search-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: rgb(6,63,170, 0.1);
  width: 90%;
  align-items: center;
  justify-content: center;
}