.app {
  color: white;
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
  }

a {
  color: pink;
  font-weight: bold;
}


button:hover, a:hover{
  cursor: pointer;
}

#blue-box-logo{
  max-height: 90px;
}

header {
  position: fixed; 
  width: 10%; 
  height: 100vh; 
  top: 0;
  left: 0; 
  display: flex;
  flex-direction: row;
  padding: 10px;
  
  background: linear-gradient(90deg, rgba(168, 10, 79, 0.008) 1%, rgb(162, 10, 101) 4%, rgba(1, 20, 33, 0.01) 100%);
  text-align: center;
  z-index: 1000; 
}


.header-login-buttons{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.page-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.page-layout__content{
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
  padding-bottom: 5%;
}

.footer-links, .footer-links-authenticated {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}

.image-container img {
  display: block;
  max-width: 312px;
  /* max-height: 400px; */
  width: auto;
  height: auto;
  /* object-fit: contain; */
}

.text-container{
  display: flex;
 flex-grow: 3;
 font-size: larger;
 line-height: 1.5;
 text-align: left;
 /* float: right; */
 overflow: hidden;
}



ul{
  list-style-type: none;
}

.loader {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: rgb(6,63,170, 0.1);
  width: 90%;
  align-items: center;
  justify-content: center;
}

/* stories */
.story-item, .story-detail{
  border-style: double;
  margin: 10px;
  width: 90%;
  flex: 3;
}

.story-detail{
  justify-content: center;
  padding: 10px;
}

.story-item-container {
  display: flex;
  flex-direction: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  /* background-color: rgb(6,63,170, 0.1); */
  align-items: center;
}

.story-detail-container{
  display: flex;
  justify-content: center;
}

#selected-story-logo {
  min-width: 400px;
}
.cast-crew-info {
  display: flex;
  flex-direction: column;
}

.story-item-image-container{
  display: flex;
  justify-content: center;
}

.story-item-image-container img{
  display: block;
}

.stories-search-results{
  margin-top: 20px;
  justify-content: center;
}

.search-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-detail{
  border: white solid 1px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-user-story-buttons{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.story-buttons{
  background: rgb(162, 10, 101);
  color: antiquewhite;
  font: inherit;
  border-radius: 5px;
  border: 2px solid rgba(1, 20, 33);
  min-width: 200px;
  height: 80px;
}

.story-reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}



.review ul, .review li {
  margin: 0; padding: 0;
}

.name-avatar{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date-of-review{
  font-size: small;
}

.alert.success{
  background-color: lightgreen;
}

.alert.error {
  background-color: red;
}